/* RESET BASICO */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIAVEIS CSS */
:root{
    --color-font1:#fff;
    --color-font2:#333;
    --color-font3:yellow;
    --color-font4:rgb(4,25,32);
    --gradient:linear-gradient(to top,rgba(0,0,0,0.6),rgba(0,0,0,0.3));
    --border-radius:20px;
    --font-size:1rem;
}

html{
    /* ajusta a base da fonte para 10 pixels */
    font-size: 62.5%;
    /* efeito de suavidade ao faz o scroll */
    scroll-behavior: smooth;
}

body{
    background: transparent;
}

img{
    display: block;
    max-width: 100%;
}
nav ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:var(--color-font2);
    font-weight: 900;
    transition: color .3s;
    font-size: 2rem;
    text-transform: uppercase;
}
a:hover{
    color:var(--color-font3);
}

.hero{
    width: 100%;
    min-height: 100vh;
    padding: 3rem;
    background-image: var(--gradient), url(../assets/imagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:var(--color-font1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 4rem;
    position: relative;
    z-index: 2;
}

span{
    color:var(--color-font3)
}

.header-menu{
    display: flex;
    gap:20px;
}

#titulo{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.hamburguer{
    display: none;
    position: relative;
    cursor: pointer;
}

.barra{
    display: block;
    width: 3rem;
    height: .3rem;
    background: var(--color-font1);
    margin: 0.5rem auto;
    border-radius: 5px;
    transition: .5s;
}

/* Responsividade */

@media(width <= 1024px){
.header-menu{
    width: 100%;
    height: 100vh;
    background: var(--color-font4);
    position: absolute;
    z-index:1;
    top:0;
    left: -100%;
    gap:6rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
}


#titulo{
    font-size: 2rem;
}
#titulo span{
    margin-left: 5px;
}

/*Menu Hamburguer*/

.active{
    left: 0;
}

.hamburguer{
    display: block;
    z-index: 2;
}

.hamburguer.active .barra:first-child{
    transform: translateY(8px) rotate(360deg) rotate(45deg);
}
.hamburguer.active .barra:nth-child(2){
    opacity: 0;
}
.hamburguer.active .barra:last-child{
    transform:translateY(-8px) rotate(-360deg) rotate(-45deg);
}

}