/* Reset Basico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variaveis CSS */
:root{
    --color-font1:#fff;
    --color-font2:#333;
    --color-font3:yellow;
    --color-font4:rgb(4,25,32);
    --gradient:linear-gradient(to top,rgba(0,0,0,0.6),rgba(0,0,0,0.3)); /*rgba -> opacidade*/
    --border-radius:20px;
    --font-size:1rem;
}

html{
    font-size: 62.5%;   /*sempre no html, calcula e ajusta a fonte da pagina, ajustou para 10 pixels*/
    scroll-behavior: smooth;    /*efeito de suavidade ao fazer o scroll*/
}

body{
    background: transparent;
}

img{
    display: block;
    max-width: 100%;
}
nav ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-font2);
    font-weight: 900;
    transition: color .3s;
    font-size: 2rem;
    text-transform: uppercase;
}
a:hover{
    color: var(--color-font3);
}

.hero{
    width: 100%;
    min-height: 100vh;
    padding: 3rem;
    background-image: var(--gradient), url(../assets/Imagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:var(--color-font1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 4rem;
    position: relative;
    z-index: 2;
}

span{
    color: var(--color-font3);
}

.header-menu{
    display: flex;
    gap: 20px;
}

#titulo{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

/* Responsividade */
@media(width <= 1024px){
  
    .header-menu{
        width: 100%;
        height: 100vh;
        background: var(--color-font4);
        position: absolute;
        z-index:1;
        top:0;
        left: -100%;
        gap:0;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    #titulo{
        font-size: 2rem;
    }
    
    }